{% extends "layouts/home.html" %}
<!--  -->

<!--  -->
{% block content %}

<div class="uk-section uk-padding-remove-vertical">
  <div class="uk-container uk-margin-small-top">
    <!-- article begin -->
    <div class="uk-section">
      <div class="in-blog" data-uk-grid>
        <div class="uk-width-1-1 uk-text-center">
          <div class="in-image-single">
            <img
              class="uk-border-rounded uk-width-1-1"
              src="/assets/img/in-lazy.gif"
              data-src="/assets/img/business.jpg"
              alt=""
              data-width
              data-height
              data-uk-img
            />
          </div>
        </div>
        <div class="uk-width-1-1 uk-flex uk-flex-center">
          <div class="uk-width-3-5@m">
            <article class="uk-article">
              <div class="in-single-offset">
                <h3
                  class="uk-article-title uk-margin-small-top uk-margin-medium-bottom"
                >
                  BUSINESS PLANNING
                </h3>
                <h6>What is a Business Plan?</h6>
              </div>
              <p class="uk-dropcap">
                Business planning is the process whereby an organization’s
                leaders figure out the best roadmap for growth and document
                their plan for success. The business planning process includes
                diagnosing the company’s internal strengths and weaknesses,
                improving its efficiency, working out how it will compete
                against rival firms in the future, and setting milestones for
                progress so they can be measured. Writing a new business plan
                involves a detailed process with a number of stages, some of
                which can overlap. Whether you are writing your plan from
                scratch, from a simple business plan template, or working with
                an experienced business plan consultant or writer, business
                planning for startups, small businesses, and existing companies
                is the same.
              </p>
              <p></p>
              <blockquote class="in-blockquote" cite="#">
                <p class="uk-margin-small-bottom">
                  A PLAN THAT PUTS THE BEST FINANCIAL CHOICES IN YOUR HANDS
                </p>
              </blockquote>

              <h4>SERVICES TAILORED FOR YOU</h4>

              <div class="uk-grid uk-child-width-1-1 uk-child-width-1-2@m">
                <div>
                  <ul class="uk-list uk-list-bullet in-list-check">
                    <li>We make Research</li>
                    <li>We Strategize</li>
                    <li>Carry out a Calculated Financial Forecast</li>
                  </ul>
                </div>
                <div class="in-margin-top-10@s in-margin-bottom@s">
                  <ul class="uk-list uk-list-bullet in-list-check">
                    <li>Draft Your Plan</li>
                    <li>Revise & Proofread</li>
                    <li>Nail the Business Plan Presentation</li>
                  </ul>
                </div>
              </div>
            </article>
            <!-- module pagination begin -->

            <hr class="uk-margin-top uk-margin-remove-bottom" />
            <!-- module pagination end -->
          </div>
        </div>
      </div>
    </div>
    <!-- article end -->
    <!-- comment list begin -->
  </div>
</div>
<!-- section blog end -->

{% endblock content %}
