{% extends "layouts/home.html" %}
<!--  -->

<!--  -->
{% block content %}
<main>
  <!-- breadcrumb content begin -->
  <!-- breadcrumb content end -->
  <!-- section blog begin -->

  <div class="uk-section uk-padding-remove-vertical">
    <div class="uk-container uk-margin-small-top">
      <!-- article begin -->
      <div class="uk-section">
        <div class="in-blog" data-uk-grid>
          <div class="uk-width-1-1 uk-text-center">
            <div class="in-image-single">
              <img
                class="uk-border-rounded uk-width-1-1"
                src="/assets/img/in-lazy.gif"
                data-src="/assets/img/estate1.jpg"
                alt=""
                data-width
                data-height
                data-uk-img
              />
            </div>
          </div>
          <div class="uk-width-1-1 uk-flex uk-flex-center">
            <div class="uk-width-3-5@m">
              <article class="uk-article">
                <div class="in-single-offset">
                  <h3
                    class="uk-article-title uk-margin-small-top uk-margin-medium-bottom"
                  >
                    Legal - Criminal Activity Policy
                  </h3>
                </div>
                <p class="uk-dropcap">
                  For Law Enforcement Offices only: Information requests for
                  criminal matters should be directed to subpoenas@assetsus.com.
                  If you are trying to serve Assetsus LLC with official court
                  documents or a subpoena, these documents must be sent to our
                  Registered Agent for Service of Process. Contact information
                  for our registered agent in your state may be found here.
                </p>
                <p>
                  For other less formal legal documents, you may send such
                  documents to the Assets Capital Holdings Legal Team through
                  the US Postal Service. If you would like to mail documents to
                  our Legal team, please use this address: Assetsus LLC Legal,
                  PO Box, San Francisco, CA
                </p>

                <p>
                  For the Department of Financial Services, see contact
                  information here: The New York State Department of Financial
                  Services, 400 South River Road, Suite 300, New Hope,
                  Pennsylvania 18938
                </p>
                <p>
                  Please visit the official website for additional information.
                  If you would like to file a formal complaint with Assetsus
                  LLC, please contact us via support@assetsus.com
                </p>
              </article>
              <!-- module pagination begin -->

              <hr class="uk-margin-top uk-margin-remove-bottom" />
              <!-- module pagination end -->
            </div>
          </div>
        </div>
      </div>
      <!-- article end -->
      <!-- comment list begin -->
    </div>
  </div>
  <!-- section blog end -->
</main>

{% endblock content %}
