{% extends "layouts/home.html" %}
<!--  -->

<!--  -->
{% block content %}

<div class="uk-section uk-padding-remove-vertical">
  <div class="uk-container uk-margin-small-top">
    <!-- article begin -->
    <div class="uk-section">
      <div class="in-blog" data-uk-grid>
        <div class="uk-width-1-1 uk-text-center">
          <div class="in-image-single">
            <img
              class="uk-border-rounded uk-width-1-1"
              src="/assets/img/in-lazy.gif"
              data-src="/assets/img/estate1.jpg"
              alt=""
              data-width
              data-height
              data-uk-img
            />
          </div>
        </div>
        <div class="uk-width-1-1 uk-flex uk-flex-center">
          <div class="uk-width-3-5@m">
            <article class="uk-article">
              <div class="in-single-offset">
                <h3
                  class="uk-article-title uk-margin-small-top uk-margin-medium-bottom"
                >
                  FINANCIAL PLANNING
                </h3>
              </div>
              <p class="uk-dropcap">
                These days, it's more important than ever to have a plan. Our
                version of financial planning not only gives you the confidence
                to know you're ready for anything, but is also designed to help
                you reach all your goals in the days ahead. Our advisors will
                design a personalized financial plan with the right insurance
                and investment strategies, so you can take care of the people
                and things that matter most. And with the highest financial
                strength ratings of any US life insurer, you can count on
                assetsus.com to be here whenever you need us. After all, we've
                been going strong for over 5 years.
              </p>
              <p></p>
              <blockquote class="in-blockquote" cite="#">
                <p class="uk-margin-small-bottom">
                  A PLAN THAT PUTS THE BEST FINANCIAL CHOICES IN YOUR HANDS
                </p>
              </blockquote>

              <h3>OUR VERSION OF FINANCIAL PLANNING</h3>
              <p>
                Some companies only focus on insurance, Others on investments.
                Our advisors look at your financial big picture and recommend
                the right insurance and investment strategies in one integrated
                financial plan, designed to help you live the life you've always
                wanted.
              </p>
              <p>
                For those with significant means, Our Private Client Group
                offers an exclusive comprehensive approach to private wealth
                management combining the strength of assetsus.com with the
                specialized expertise of top leading investment analysts and
                advanced automated(AA) trading bots.
              </p>
            </article>
            <!-- module pagination begin -->

            <hr class="uk-margin-top uk-margin-remove-bottom" />
            <!-- module pagination end -->
          </div>
        </div>
      </div>
    </div>
    <!-- article end -->
    <!-- comment list begin -->
  </div>
</div>
<!-- section blog end -->

{% endblock content %}
