{% extends "layouts/home.html" %} {% block title %} markets {% endblock title %}

<!--  -->
{% block content %}

<!-- section content begin -->
<div class="uk-section uk-margin-small-top">
  <div class="uk-container">
    <div class="uk-grid uk-flex uk-flex-center in-blog-1 in-article">
      <div class="uk-width-2-1@m">
        <br /><br />
        <article class="uk-card uk-card-default uk-border-rounded">
          <div class="uk-card-body">
            <div class="uk-flex">
              <div class="uk-flex uk-flex-middle">
                <p class="uk-text-small uk-text-muted uk-margin-remove">
                  <span class="uk-margin-small-left uk-margin-small-right"
                    >•</span
                  >
                  We engage, assist and partner entrepreneurs to develop Real
                  Estate assets
                  <span class="uk-margin-small-left uk-margin-small-right"
                    >•</span
                  >
                </p>
              </div>
            </div>
            <h2 class="uk-margin-top uk-margin-medium-bottom">
              INFRASTRUCTURE
            </h2>
            <p>
              We are one of the world’s largest infrastructure investors, owning
              and operating assets across the utilities, transport, energy and
              data infrastructure sectors. Our portfolio, grounded in 12 years
              of investment experience, provides diversified exposure to scarce,
              high-quality businesses with significant barriers to entry. We
              invest in infrastructure assets that deliver essential goods and
              services—from the movement of passengers and freight over toll
              roads and rail networks to the distribution of energy and other
              products through ports and pipelines, and much more.
            </p>
            <p></p>
            <!-- TradingView Widget BEGIN -->
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>

              <script
                type="text/javascript"
                src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js"
                async
              >
                  {
                  "symbol": "TVC:USOIL",
                  "width": "100%",
                  "height": "100%",
                  "locale": "en",
                  "dateRange": "12M",
                  "colorTheme": "dark",
                  "trendLineColor": "rgba(41, 98, 255, 1)",
                  "underLineColor": "rgba(41, 98, 255, 0.3)",
                  "underLineBottomColor": "rgba(41, 98, 255, 0)",
                  "isTransparent": false,
                  "autosize": true,
                  "largeChartUrl": ""
                }
              </script>
            </div>
            <!-- TradingView Widget END -->
            <!-- TradingView Widget END -->
            <p></p>
            <p></p>
            <h4>Assetsus LLC LEADING INFRASTRUTURE</h4>
            <p>
              Our leaders share a commitment to our time-tested approach to
              investing, hands-on value creation and practices that have a
              positive impact on our communities.
            </p>
            <blockquote class="in-blockquote" cite="#">
              <p class="uk-margin-small-bottom">
                Enwave provides large-scale commercial heating and cooling
                services in 11 cities across North America. Its brand has become
                synonymous with innovative renewable technologies and
                environmental stewardship.
              </p>
            </blockquote>
            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-2@m">
              <div>
                <ul class="uk-list uk-list-bullet in-list-check">
                  <h2 class="uk-margin-small-top uk-margin-remove-bottom">
                    UTILITIES
                  </h2>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    6.6 MILLION ELECTRICITY AND GAS CONNECTIONS
                  </h5>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    2,700 KM REGULATED NATURAL GAS PIPELINE
                  </h5>
                  <p class="uk-margin-small-top">
                    Spanning four continents, our utilities portfolio benefits
                    from steady, inflation-linked cash flows.
                  </p>
                </ul>
              </div>
              <div
                class="in-margin-top-10@s in-margin-bottom@s uk-background-center-right uk-background-contain uk-background-image@m"
                style="background-image: url(/assets/img/utilities.jpg)"
              ></div>
            </div>

            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-2@m">
              <div>
                <ul class="uk-list uk-list-bullet in-list-check">
                  <h2 class="uk-margin-small-top uk-margin-remove-bottom">
                    TRANSPORT
                  </h2>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    32,300 KM RAIL OPERATIONS
                  </h5>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    4,000 KM TOLL ROADS
                  </h5>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    13 PORT
                  </h5>
                  <p class="uk-margin-small-top">
                    We own and operate port, rail and toll road assets moving
                    freight, bulk commodities and passengers across five
                    continents.
                  </p>
                </ul>
              </div>
              <div
                class="in-margin-top-10@s in-margin-bottom@s uk-background-center-right uk-background-contain uk-background-image@m"
                style="background-image: url(/assets/img/port.jpg)"
              ></div>
            </div>

            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-2@m">
              <div>
                <ul class="uk-list uk-list-bullet in-list-check">
                  <h2 class="uk-margin-small-top uk-margin-remove-bottom">
                    ENERGY
                  </h2>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    16,500 KM NATURAL GAS PIPELINE
                  </h5>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    600 BCF NATURAL GAS STORAGE
                  </h5>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    1.6 MILLION RESIDENTIAL INFRASTRUCTURE CUSTOMERS
                  </h5>
                  <p class="uk-margin-small-top">
                    Our energy businesses in North America and Asia Pacific
                    generate stable revenues through long-term contracts with
                    large-scale customers.
                  </p>
                </ul>
              </div>
              <div
                class="in-margin-top-10@s in-margin-bottom@s uk-background-center-right uk-background-contain uk-background-image@m"
                style="background-image: url(/assets/img/energy.jpg)"
              ></div>
            </div>

            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-2@m">
              <div>
                <ul class="uk-list uk-list-bullet in-list-check">
                  <h2 class="uk-margin-small-top uk-margin-remove-bottom">
                    DATA INFRASTRUCTURE
                  </h2>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    20,000 KM OF FIBER BACKBONE
                  </h5>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    9,100 MULTIPURPOSE TOWERS AND ACTIVE ROOFTOP SITES
                  </h5>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    52 DATA CENTERS
                  </h5>
                  <p class="uk-margin-small-top">
                    We own and operate businesses that provide essential
                    services and critical infrastructure to transmit and store
                    data globally.
                  </p>
                </ul>
              </div>
              <div
                class="in-margin-top-10@s in-margin-bottom@s uk-background-center-right uk-background-contain uk-background-image@m"
                style="background-image: url(/assets/img/datacenter.jpg)"
              ></div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
<!-- section content end -->

{% endblock content %}
