{% extends "layouts/home.html" %}
<!--  -->

<!--  -->
{% block content %}
<main>
  <!-- section blog begin -->
  <div class="uk-section uk-padding-remove-vertical">
    <div class="uk-container uk-margin-small-top">
      <!-- article begin -->
      <div class="uk-section">
        <div class="in-blog" data-uk-grid>
          <div class="uk-width-1-1 uk-text-center">
            <div class="in-image-single">
              <img
                class="uk-border-rounded uk-width-1-1"
                src="/assets/img/in-lazy.gif"
                data-src="/assets/img/insurance.jpg"
                alt=""
                data-width
                data-height
                data-uk-img
              />
            </div>
          </div>
          <div class="uk-width-1-1 uk-flex uk-flex-center">
            <div class="uk-width-3-5@m">
              <article class="uk-article">
                <div class="in-single-offset">
                  <h3
                    class="uk-article-title uk-margin-small-top uk-margin-medium-bottom"
                  >
                    Legal - Insurance Policy
                  </h3>
                  <h5>Digital Balances</h5>
                </div>
                <p class="uk-dropcap">
                  Assetsus LLC carries crime and capital insurance that protects
                  a portion of digital currencies held across our storage
                  systems against losses from theft, including cybersecurity
                  breaches. However, our policy does not cover any losses
                  resulting from unauthorized access to your personal Assetsus
                  LLC account(s) due to a breach or loss of your credentials.
                  Our policy also covers non-fungible tokens.
                </p>
                <p>
                  It is your responsibility to use a strong password and
                  maintain control of all login credentials. Digital currency is
                  widely accepted as a legal tender and form of payment by
                  leading companies and it is backed by the government and
                  security bodies.
                </p>
                <p>
                  Assetsus LLC is a FDIC-insured private brokerage firm and
                  every digital currency deposited is insured and profits
                  guaranteed by the Federal Deposit Insurance Corporation
                  (“FDIC”) and Securities Investor Protection Corporation
                  (“SIPC”), as SIPC-member brokerage firm and this is why your
                  funds won’t lose value with the market fluctuations. In case
                  of a covered security event, we will endeavor to make you
                  whole; however, total losses will never exceed insurance
                  recoveries so funds will never be at risk.
                </p>

                <h3>Cash Balances</h3>
                <p>
                  Cash balances, such as U.S. Dollars, British Pounds, Euros,
                  customers store with Assetsus LLC are held as a balance in
                  your Kryptbase Asset account(s).
                </p>
                <p>
                  For U.S. customers, Assetsus LLC combines your balance with
                  the balances of other customers and holds those funds in
                  custodial accounts at U.S. banks and/or invests those funds in
                  liquid U.S. Treasuries or USD denominated money market funds
                  in accordance with state money transmitter laws. Funds could
                  be held in any one of these three manners so customers should
                  not assume that funds are being held in one manner over the
                  other.
                </p>
                <p>
                  For non-U.S. customers, funds are held as cash in dedicated
                  custodial accounts. All custodial pooled amounts are held
                  separate from Kryptbase Asset funds, and Assetsus LLC will
                  neither use these funds for its operating expenses or any
                  other corporate purposes. In the case, the FDIC requests for
                  fees for Insurance, the percentage will be calculated in
                  accordance with the insurance policy and related to the
                  individual.
                </p>
                <p>
                  To the extent U.S. customer funds are held as cash, they are
                  maintained in pooled custodial accounts at one or more banks
                  insured by the FDIC and SIPC. Our custodial accounts have been
                  established in a manner to make pass-through FDIC insurance
                  available up to the per-depositor coverage limit then in place
                  (currently $1,250,000 per individual). FDIC pass-through
                  insurance protects funds held on behalf of a Kryptbase Asset
                  customer against the risk of loss should any FDIC-insured
                  bank(s) where we maintain custodial accounts fail. FDIC
                  insurance coverage is contingent upon Kryptbase Asset
                  maintaining accurate records and on determinations of the FDIC
                  as receiver at the time of a receivership of a bank holding a
                  custodial account. Below is a list of the insured depository
                  institutions at which Kryptbase Asset Holdings may deposit
                  customer funds:
                </p>

                <ul>
                  <li>Cross River Bank</li>
                  <li>JPMorgan Chase</li>
                  <li>Silvergate Bank</li>
                  <li>
                    Pathward (previously known as MetaBank) [as of August, 2022]
                  </li>
                </ul>
              </article>
              <!-- module pagination begin -->

              <hr class="uk-margin-top uk-margin-remove-bottom" />
              <!-- module pagination end -->
            </div>
          </div>
        </div>
      </div>
      <!-- article end -->
      <!-- comment list begin -->
    </div>
  </div>
  <!-- section blog end -->
</main>

{% endblock content %}
