{% extends "layouts/home.html" %}
<!--  -->

<!--  -->
{% block content %}

<!-- section blog begin -->
<div class="uk-section uk-padding-remove-vertical">
  <div class="uk-container uk-margin-small-top">
    <!-- article begin -->
    <div class="uk-section">
      <div class="in-blog" data-uk-grid>
        <div class="uk-width-1-1 uk-text-center">
          <div class="in-image-single">
            <img
              class="uk-border-rounded uk-width-1-1"
              src="/assets/img/in-lazy.gif"
              data-src="/assets/img/long.jpg"
              alt=""
              data-width
              data-height
              data-uk-img
            />
          </div>
        </div>
        <div class="uk-width-1-1 uk-flex uk-flex-center">
          <div class="uk-width-3-5@m">
            <article class="uk-article">
              <div class="in-single-offset">
                <h3
                  class="uk-article-title uk-margin-small-top uk-margin-medium-bottom"
                >
                  LONG-TERM CARE
                </h3>
                <h6>LIVE LONGER, BETTER.</h6>
              </div>
              <p class="uk-dropcap">
                What is long-term care? Long-term care is something that most
                people may not think they need, or might think is covered by
                health insurance or Medicare. The fact is, if you live to be 65,
                there's a 70% chance you'll eventually need some kind of
                long-term care.1 But aging isn't the only reason to plan for
                long-term care—it's there for you if a chronic illness or
                disabling injury prevents you from living on your own or
                properly caring for yourself, no matter how old you are.
                Long-term care helps with day-to-day tasks like bathing, eating,
                getting dressed, and getting in and out of bed. And it includes
                care provided by nursing homes, assisted living facilities,
                adult day care centers, hospice facilities, and skilled nurses
                or home health aides in your (or your loved one's) home. If
                you're not the one who needs it, there's a good chance you'll
                need to help care for a loved one.2 And having a long-term care
                plan in place can help you continue to live well without
                sacrificing the income, investments, and savings you've worked
                so hard for.
              </p>
              <p></p>
              <blockquote class="in-blockquote" cite="#">
                <p class="uk-margin-small-bottom">
                  A PLAN THAT PUTS THE BEST FINANCIAL CHOICES IN YOUR HANDS
                </p>
              </blockquote>
            </article>
            <!-- module pagination begin -->

            <hr class="uk-margin-top uk-margin-remove-bottom" />
            <!-- module pagination end -->
          </div>
        </div>
      </div>
    </div>
    <!-- article end -->
    <!-- comment list begin -->
  </div>
</div>
<!-- section blog end -->

{% endblock content %}
