{% extends "layouts/home.html" %}
<!--  -->

<!--  -->
{% block content %}

<div
  class="uk-section uk-section-secondary uk-margin-remove"
  style="
    background-color: #67e4ae !important;
    background-image: url(/assets/img/philosophy.jpg);
  "
>
  <div class="uk-container uk-margin-medium-bottom">
    <div class="uk-grid uk-flex uk-flex-center">
      <h1>Investment Philosophy</h1>
    </div>
  </div>
</div>
<!-- section content begin -->
<div class="uk-section in-equity-16">
  <div class="uk-container uk-margin-top uk-margin-large-bottom">
    <div class="uk-grid uk-grid-large uk-flex uk-flex-middle" data-uk-grid>
      <div class="uk-width-expand@m">
        <h3></h3>
        <h2>
          Six enduring principles make up our investment strategy, which we have
          followed since we were established more than 25 years ago.
        </h2>
        <!-- <a class="uk-button uk-button-secondary uk-border-rounded uk-margin-small-top" href="#">Open demo account<i class="fas fa-arrow-circle-right uk-margin-small-left"></i></a> -->
      </div>
      <div class="uk-width-3-5@m">
        <div class="in-equity-video">
          <img
            class="uk-border-rounded uk-width-1-1"
            src="/assets/img/philosophy.png"
            data-src="/assets/img/philosophy.png"
            alt="sample-images"
            width="533"
            height="355"
            data-uk-img
          />
          <div class="uk-position-center">
            <a href="" data-uk-toggle>
              <!-- <div class="in-play-button"></div> -->
              <!-- <i class="fas fa-play"></i> -->
            </a>
          </div>
          <div class="uk-flex-top" data-uk-modal>
            <div
              class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical in-iframe"
            >
              <button
                class="uk-modal-close-outside"
                type="button"
                data-uk-close
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="uk-section in-content-3">
  <div class="uk-container">
    <div class="uk-grid uk-flex uk-flex-center">
      <div class="uk-width-1-1">
        <h2 class="uk-text-center"></h2>
        <table
          class="uk-table uk-table-middle uk-table-divider uk-table-responsive"
        >
          <tbody>
            <tr>
              <td>
                <h4>THE PRIMACY OF RISK CONTROL</h4>
              </td>
              <td class="">
                <p>
                  Our objective is higher performance with less than
                  proportionate risk, not superior investment performance.
                  Superior performance under difficult circumstances is required
                  to demonstrate that a manager's above-average returns during
                  good times were gained via skill rather than merely taking on
                  above-average risk. Therefore, we give averting losses the top
                  priority rather than only looking for potential rewards. Our
                  guiding principle is that "if we avoid the losers, the winners
                  will take care of themselves," particularly in the
                  opportunistic markets where we operate.
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <h4>EMPHASIS ON CONSISTENCY</h4>
              </td>
              <td class="">
                <p>
                  We don't accept outcomes that fluctuate between the top
                  quartile in strong years and the bottom quartile in bad years.
                  Our opinion is that a strong batting average, as opposed to a
                  combination of dazzling successes and miserable failures, is
                  the strongest foundation for a winning record.
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <h4>THE IMPORTANCE OF MARKET INEFFICIENCY</h4>
              </td>
              <td class="">
                <p>
                  We believe that effort and skill might result in a "knowledge
                  advantage," and hence, possibly better investing outcomes. But
                  in supposedly efficient markets, where many participants have
                  about equal access to information and behave impartially to
                  factor that knowledge into asset values, we do not think this
                  is possible. Only in less efficient markets do we invest
                  because, in our opinion, a dispassionate application of talent
                  and effort should benefit our clients.
                </p>
              </td>
            </tr>

            <tr>
              <td>
                <h4>THE BENEFITS OF SPECIALIZATION</h4>
              </td>
              <td class="">
                <p>
                  The only way to get the outcomes we and our clients want is
                  through specialization. Therefore, we demand that each of our
                  portfolios practice a particular investment speciality and do
                  it as well as it possibly can. We set up the charter for each
                  investing speciality in as much detail as is practical and do
                  not stray from it. This eliminates surprises because our
                  behavior and performance always correspond to the task we were
                  paid to complete. Customers of Assetsus interested in a single
                  asset class can receive exactly what they want thanks to the
                  availability of specialized portfolios, and customers
                  interested in multiple asset classes can combine our
                  portfolios to get the desired combination.
                </p>
              </td>
            </tr>

            <tr>
              <td>
                <h4>MACRO-FORECASTING NOT CRITICAL TO INVESTING</h4>
              </td>
              <td class="">
                <p>
                  The fastest way to the outcomes we and our clients are looking
                  for is through specialization. As a result, we demand that
                  each of our portfolios focus solely on one type of investing
                  and do it to the highest standard possible. We set each
                  investing specialty's charter as plainly as we can and do not
                  stray from it. In this way, there are never unpleasant shocks
                  because our behavior and performance always correspond to the
                  work that we are employed to do. Because Assetsus offers
                  customized portfolios, clients interested in just one asset
                  class can receive exactly what they want, and clients
                  interested in many asset classes can combine our portfolios to
                  create the composition they want.
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <h4>DISAVOWAL OF MARKET TIMING</h4>
              </td>
              <td class="">
                <p>
                  We maintain portfolios fully invested anytime attractively
                  priced assets are available to purchase because we do not feel
                  that we have the predictive power necessary to appropriately
                  time markets. We may shift toward more defensive assets,
                  become more selective, or act more deliberately in response to
                  market uncertainty, but we never make an effort to raise
                  money. We are employed by clients to invest in particular
                  market areas, and we must never let them down. Holding
                  investments that are losing value is uncomfortable, but losing
                  money because we didn't purchase the assets we were paid to
                  purchase is unacceptable.
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
