{% extends "layouts/home.html" %}
<!--  -->

<!--  -->
{% block content %}

<div class="uk-section">
  <div class="uk-container">
    <div class="uk-grid">
      <div class="uk-width-1-1 uk-flex uk-flex-center">
        <div class="uk-width-3-4@m">
          <div
            class="uk-card uk-card-large uk-card-default uk-margin-top in-paper-card"
          >
            <div class="uk-card-body">
              <h2>WEBSITE PRIVACY POLICY</h2>
              <p>
                The website (“www.{{domain}}” or the “Site”), located at
                www.{{domain}}, is owned and operated by Assetsus LLC LLC. Any
                reference to “Assetsus LLC,” “we,” “us” or “our” in this Policy
                shall mean Assetsus LLC LLC. The Site includes all web pages
                accessible by the public. Any reference to “you” in this Policy
                shall mean any user of the Site, including without limitation
                employees of Assetsus LLC LLC.
              </p>
              <p>
                This Policy applies only to information collected at this Site.
                It does not apply to information collected by us, or on our
                behalf, in person, through mail, by telephone, fax or any other
                means. Please note that this Policy applies only to the Site and
                not to the web sites of other organizations to which we link. We
                are not responsible for their privacy policies or practices of
                any other third party sites and you should make your own
                inquiries regarding them.
              </p>
              <p>
                This Policy explains the principles governing our use of
                Personal Information (defined below) that we collect from
                visitors on the Site. Personal Information may include your
                name, gender, email address, telephone number, address, other
                personal or preference information, details about your operating
                system, internet service provider, browser, IP address, the
                company name that the relevant IP address is affiliated to, the
                pages you visited on the Site, and the website you linked from
                to the Site. We take your privacy very seriously. If you have
                any questions or concerns regarding this Policy, you should
                contact us using the details given at the end of this document.
              </p>
              <h2>CONSENT</h2>
              <p>
                By using this Site, you agree to our collecting and using your
                Personal Information in the manner described in this Policy.
              </p>

              <h2>INFORMATION WE COLLECT ABOUT YOU</h2>
              <p>
                The amount and type of information received depends on how you
                use the Site and its various features. In particular, when you
                visit the Site, you provide us with various types of information
                including Personal Information that you choose to disclose, and
                information regarding how you use the Site, which we collect as
                you interact with our Site.
              </p>
              <p>
                In using the Site, you may choose to provide us with Personal
                Information, for example, when you register online for
                newsletters, request information or send us feedback or
                inquiries. Personal Information may include your name, gender,
                email address, telephone number, address, and any other personal
                or preference information that we may request on a voluntary
                basis in order to provide you access to the certain features of
                the Site, as well as to help us to identify aspects, services or
                offerings on the Site that you may find interesting.
                Occasionally, we may also collect additional Personal
                Information from you through optional polls, questionnaires, or
                surveys.
              </p>
              <p>
                As described further in our Cookie Policy, when you visit the
                Site, we collect details about your operating system, internet
                service provider and browser (in addition to your IP address (a
                unique identifier for your computer or other access device), the
                company name that the relevant IP address is affiliated to, the
                pages you visited on the Site, and the website you linked from
                to the Site). We do this through third party service providers,
                tracking technologies, and by placing “cookies,” which are small
                data files, on your computer. Our third party providers may also
                put cookies on your computer to obtain information about you and
                your use of our Site. We may also use cookies to identify
                returning users, and to provide users of our Site with the added
                convenience by being able to quickly access login-required areas
                of the site. You can manage use of cookies through your browser
                settings. You can find more information on our Cookie Policy.
              </p>
              <h2>CHILDREN</h2>
              <p>
                Children under 13 years old are not the target audience for the
                Site. To protect their privacy, we prohibit the solicitation of
                Personal Information from these children. If you are under the
                age of 13, please do not submit your email address or any other
                personal information to us through the Site.
              </p>

              <hr class="uk-margin-medium-top" />
              <ul class="uk-margin-medium-top" data-uk-accordion>
                <li class="uk-open">
                  <h2>USES OF COLLECTED INFORMATION</h2>
                  <div class="uk-accordion-content">
                    <ul class="uk-list uk-list-bullet">
                      <p>
                        The purposes for which we process and store your
                        Personal Information are, or may in the future be:
                      </p>
                      <li>
                        To administer, monitor, understand Site use, and improve
                        the Site and the services provided on the Site;
                      </li>

                      <li>To enable us to aggregate user profiles;</li>
                      <li>
                        Where you have requested it or in accordance with
                        privacy laws, to provide you (by email, phone and/or
                        mail) with marketing, promotional, or other information
                        that we think may be of interest to you;
                      </li>
                      <li>
                        As part or current or future legal or similar
                        proceedings; and
                      </li>
                      <li>
                        Compliance: Kryptbase Asset will comply with all
                        applicable laws, regulations, and industry standards in
                        the conduct of our business.
                      </li>
                      <li>
                        To enable us to comply with our legal and regulatory
                        obligations.
                      </li>
                    </ul>
                    <p>
                      Any promotional correspondence to you will provide you
                      with the ability to opt-out of receiving future
                      promotional material from us and you may contact us at any
                      time to tell us that you do not want to receive marketing
                      information from us by emailing us at the email address
                      below.
                    </p>
                  </div>
                </li>
                <h2>DISCLOSURE OF YOUR PERSONAL INFORMATION</h2>
                <p>
                  We may provide your Personal Information to our affiliates,
                  including without limitation The PNC Financial Services Group,
                  Inc. to the extent permitted by applicable law. For this
                  purpose, we may transfer the information you provide outside
                  your country to another country that does not have similar
                  data protection legislation and may provide a lower level of
                  protection for your information. By submitting any information
                  you consent to these transfers.
                </p>
                <p>
                  We may share your Personal Information with vendors we have
                  hired to provide services for us.
                </p>
                <p>
                  We may also release Personal Information about you if you
                  direct us to do so, or if we are required or authorized by law
                  or if we reasonably believe that the disclosure is necessary
                  in order to (a) fulfill a government request; (b) conform with
                  the requirements of law or to comply with legal process served
                  on us; or (c) protect or defend our legal rights or property
                  or third party licensors of any material on the Site.
                </p>
                <p>
                  We do not use or disclose your Personal Information obtained
                  from the Site, except as expressly stated in this Privacy
                  Policy or as otherwise may be permitted by you or required by
                  law. Please note that certain jurisdictions may have more
                  restrictive privacy requirements that will prevent disclosure
                  of your Personal Information to any other person or entity,
                  including our affiliates.
                </p>
                <h2>PROTECTING YOUR INFORMATION</h2>
                <p>
                  We have strict security and confidentiality procedures
                  pertaining to the storage and disclosure of your information.
                  We restrict access to Personal Information about you to those
                  employees, agents or other parties who need to have such
                  information to provide you with the information you have
                  requested, or which we believe may be of interest to you, or
                  to enable you to use other features of the Site.
                </p>
                <p>
                  Appropriate measures will be taken to safeguard your Personal
                  Information to prevent unauthorized access, and to comply with
                  applicable laws regarding the protection of such information.
                  These measures may include physical, electronic or other
                  procedural protections, such as passwords, firewalls, and
                  encryption or authentication technology.
                </p>
                <p>
                  While we do our best to protect your Personal Information, we
                  cannot ensure or warrant the security of any information that
                  you transmit to us. The information you provide to us is sent
                  over an open network, such as the Internet or email, and may
                  be accessed by anyone. We cannot guarantee the confidentiality
                  of any communications or materials sent to us over such open
                  networks. We therefore do not accept any liability for direct
                  or indirect losses in relation to security of any data that
                  you send to us.
                </p>
                <p>
                  Your use of the Site, including any disputes arising from it,
                  is subject to this Privacy Policy as well as our Terms of Use,
                  Disclosures, and Cookie Policy and all dispute resolution
                  provisions therein, including the limitation of liability and
                  choice of law provisions. We encourage you to refer to this
                  Policy on an ongoing basis so that you understand our current
                  Privacy Policy. Unless stated otherwise, our current Privacy
                  Policy applies to all information that we have about you that
                  is obtained through the Site.
                </p>
                <h2>ACCESS TO YOUR INFORMATION</h2>
                <p>
                  If we process your Personal Information, you may have the
                  right to request a copy of the Personal Information that we
                  hold about you. If you wish to request access to such personal
                  information, please email or write to us at the email address
                  or postal address set out below in the “Contact Us” section.
                  We may charge you a small fee for this service. If you
                  discover any inaccuracy, please let us know so that we can
                  make whatever corrections are appropriate.
                </p>
                <p>
                  You may also ask us to remove your name from our marketing
                  databases and if you do that we will comply as soon as
                  practicable.
                </p>
                <p></p>
                <h2>CONTACT US</h2>
                <p>
                  Should you feel that your privacy or security is being
                  compromised, wish to make a request for access to any personal
                  data we may hold about you or to have inaccuracies in your
                  information corrected (as described further on the “Access To
                  Your Information” section above), or have any questions on
                  this policy, please contact us at Assetsus LLC LLC, 400 South
                  River Road, Suite 300, New Hope, Pennsylvania 18938;
                  email:info@{{domain}}; and facsimile: +1 (215) 862-7234.
                </p>
                <p></p>
                <h2>POLICY CHANGES</h2>
                <p>
                  We reserve the right to change our Privacy Policy at any time.
                </p>
                <p></p>
                <h2>COOKIE POLICY</h2>
                <h6>As of September 10, 2015</h6>
                <p>
                  IMPORTANT NOTICE: PLEASE READ CAREFULLY BEFORE USING THIS
                  WEBSITE: This policy explains how cookies are used on this
                  website. The policy may be amended from time to time. When we
                  do, we will let you know by appropriate means such as by
                  posting the revised policy on this page with a new “Last
                  Updated” date. By using this site you agree to the placement
                  of cookies on your computer in accordance with the terms of
                  this policy. If you do not wish to accept cookies from this
                  site please either disable cookies or refrain from using this
                  site.
                </p>
                <h6>1. What are Cookies?</h6>
                <p>
                  A cookie is a text-only string of information that a website
                  transfers to the cookie file of the browser on your computer’s
                  hard disk so that the website can recognize you when you
                  revisit and remember certain information about you. This can
                  include which pages you have visited, choices you have made
                  from menus, any specific information you have entered into
                  forms and the time and date of your visit.
                </p>
                <h6>2 Types of Cookies</h6>
                <p>There are two main types of cookies:</p>
                <p>
                  Session cookies: these are temporary cookies that expire at
                  the end of a browser session; that is, when you leave the
                  site. Session cookies allow the website to recognize you as
                  you navigate between pages during a single browser session and
                  allow you to use the website most efficiently. For example,
                  session cookies enable a website to remember that a user has
                  placed items in an online shopping basket.
                </p>
                <p>
                  Persistent cookies: in contrast to session cookies, persistent
                  cookies are stored on your equipment between browsing sessions
                  until expiry or deletion. They therefore enable the website to
                  “recognize” you on your return, remember your preferences, and
                  tailor services to you.
                </p>
                <p>
                  In addition to session cookies and persistent cookies, there
                  may be other cookies which are set by the website which you
                  have chosen to visit, such as this website, in order to
                  provide us or third parties with information.
                </p>
                <h6>3 Our use of Cookies</h6>
                <p>
                  We currently use, and may use in the future, the following
                  types of cookies on this website.
                </p>
                <p>We use session cookies to:</p>
                <p>
                  help us maintain security and verify your details whilst you
                  use the website as you navigate from page to page, which
                  enables you to avoid having to re-enter your details each time
                  you enter a new page.
                </p>
                <p>We use persistent cookies to:</p>
                <p>
                  help us recognize you as a unique user when you return to our
                  website so that you do not have to input your details multiple
                  times as you move between our pages or services
                </p>
                <p>
                  remember how you have customized your use of this site, such
                  as your preferred currency and time zone
                </p>
                <p>
                  collect and compile anonymous, aggregated information for
                  statistical and evaluation purposes to help us understand how
                  users use the website and help us improve the structure of our
                  website.
                </p>
                <p>
                  Many cookies are designed to give you optimal usage of the
                  web. For example, we use cookies to enable you to improve your
                  user experience when using our website, e.g. a cookie which
                  recognizes if your browser supports specific technology
                  features. This helps, for example, in enabling web pages to be
                  loaded more quickly when you request the download of a large
                  file.
                </p>
                <p>
                  In addition to cookies which send information to us, we also
                  use cookies which collect information and send it to third
                  parties. An example of this is Google Analytics. We use Google
                  Analytics to help collect and compile information like the
                  number of visitors to the site, where visitors have come to
                  the site from and the pages they visited. Visit Google’s site
                  for an overview of privacy at Google and information on how to
                  opt out of the Google Analytics cookie. Where this site allows
                  such cookies to be set or you access other websites from this
                  site using the links provided, the operators of these websites
                  will use cookies in accordance with their own cookies policy,
                  which may differ from ours.
                </p>
                <p>
                  As with first party cookies, you are able to block third party
                  cookies through your browser settings.
                </p>
                <p>
                  Some of our cookies may collect and store your personal
                  information, such as your name or email address. We are
                  committed to respecting and protecting your privacy and will
                  ensure that all personal information collected by us is kept
                  and treated in accordance with our privacy policy. A link to
                  this policy is available within the footer of this portal or
                  alternatively at our {{domain}} website.
                </p>
                <p></p>
                <p></p>
                <p></p>
                <h6>4 Refusing Cookies on this Site</h6>
                <p>
                  Most browsers are initially set to accept cookies. However,
                  you have the ability to disable cookies if you wish, generally
                  through changing your internet software browsing settings. It
                  may also be possible to configure your browser settings to
                  enable acceptance of specific cookies or to notify you each
                  time a new cookie is about to be stored on your computer
                  enabling you to decide whether to accept or reject the cookie.
                  To manage your use of cookies there are various resources
                  available to you, for example the “Help” section on your
                  browser may assist you. You can also disable or delete the
                  stored data used by technology similar to cookies, such as
                  Local Shared Objects or Flash cookies, by managing your
                  browser’s “add-on settings” or visiting the website of its
                  manufacturer. As our cookies allow you to access some of our
                  website’s features we recommend that you leave cookies
                  enabled. Otherwise, if cookies are disabled, it may mean that
                  you experience reduced functionality or will be prevented from
                  using this site altogether.
                </p>
              </ul>
              <div class="uk-card uk-card-secondary uk-margin-medium-top">
                <div class="uk-card-body">
                  <p class="uk-text-small">
                    For general inquiries, or to report potentially prohibited
                    use please contact
                    <a
                      class="uk-text-lowercase uk-link"
                      href="mailto:support@{{domain}}"
                      >Support</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- section content end -->

{% endblock content %}
