{% extends "layouts/home.html" %}
<!--  -->

<!--  -->
{% block content %}

<div class="uk-section uk-padding-remove-vertical">
  <div class="uk-container uk-margin-small-top">
    <!-- article begin -->
    <div class="uk-section">
      <div class="in-blog" data-uk-grid>
        <div class="uk-width-1-1 uk-text-center">
          <div class="in-image-single">
            <img
              class="uk-border-rounded uk-width-1-1"
              src="/assets/img/in-lazy.gif"
              data-src="/assets/img/private.jpg"
              alt=""
              data-width
              data-height
              data-uk-img
            />
          </div>
        </div>
        <div class="uk-width-1-1 uk-flex uk-flex-center">
          <div class="uk-width-3-5@m">
            <article class="uk-article">
              <div class="in-single-offset">
                <h3
                  class="uk-article-title uk-margin-small-top uk-margin-medium-bottom"
                >
                  PRIVATE WEALTH MANAGEMENT
                </h3>
                <h6>
                  THE ONE FINANCIAL PARTNERSHIP THAT GOES BEYOND YOUR PORTFOLIO
                </h6>
              </div>
              <p class="uk-dropcap">
                Our comprehensive approach to private wealth management will
                help you and your family enjoy your wealth today, and for
                generations to come.
              </p>
              <p>
                When major market movements happen, our Wealth Management
                Investment Team is called upon by national news and media
                outlets to provide their expertise. Our Private Client Group
                advisors work with them, including our Chief Investment
                Strategist, Brent Schutte, to bring their insights and
                philosophy into your portfolio.
              </p>
              <blockquote class="in-blockquote" cite="#">
                <p class="uk-margin-small-bottom">
                  A PLAN THAT PUTS THE BEST FINANCIAL CHOICES IN YOUR HANDS
                </p>
              </blockquote>
              <h4>OUR SERVICES, TAILORED TO YOU</h4>

              <div class="uk-grid uk-child-width-1-1 uk-child-width-1-2@m">
                <div>
                  <ul class="uk-list uk-list-bullet in-list-check">
                    <li>Financial Planning</li>
                    <li>Investment Planning & Strategies</li>
                    <li>Advanced Portfolio Management</li>
                    <li>Retirement Planning & Income Strategies</li>
                    <li>Estate Planning & Trust Services</li>
                    <li>Risk Management</li>
                  </ul>
                </div>
                <div class="in-margin-top-10@s in-margin-bottom@s">
                  <ul class="uk-list uk-list-bullet in-list-check">
                    <li>Tax Efficient Strategies</li>
                    <li>Advisor Coordination</li>
                    <li>Business Planning & Succession</li>
                    <li>Multigenerational Planning</li>
                    <li>Charitable Planning</li>
                    <li>Education Funding</li>
                  </ul>
                </div>
              </div>
            </article>
            <!-- module pagination begin -->

            <hr class="uk-margin-top uk-margin-remove-bottom" />
            <!-- module pagination end -->
          </div>
        </div>
      </div>
    </div>
    <!-- article end -->
    <!-- comment list begin -->
  </div>
</div>
<!-- section blog end -->
{% endblock content %}
