{% extends "layouts/home.html" %}
<!--  -->

<!--  -->
{% block content %}

<!-- section content begin -->
<div class="uk-section uk-margin-small-top">
  <div class="uk-container">
    <div class="uk-grid uk-flex uk-flex-center in-blog-1 in-article">
      <div class="uk-width-2-1@m">
        <br /><br />
        <article class="uk-card uk-card-default uk-border-rounded">
          <div class="uk-card-body">
            <div class="uk-flex">
              <div class="uk-flex uk-flex-middle">
                <p class="uk-text-small uk-text-muted uk-margin-remove">
                  <span class="uk-margin-small-left uk-margin-small-right"
                    >•</span
                  >
                  We engage, assist and partner entrepreneurs to develop Real
                  Estate assets
                  <span class="uk-margin-small-left uk-margin-small-right"
                    >•</span
                  >
                </p>
              </div>
            </div>
            <h2 class="uk-margin-top uk-margin-medium-bottom">
              Invest In Real Estate.
            </h2>
            <p>
              Manhattan West is one of Kryptbase Asset most ambitious
              large-scale development projects. The eight-acre, six-building,
              mixed-use complex includes all the elements of Kryptbase Asset
              renowned placemaking destinations throughout the world.
            </p>
            <p></p>
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>

              <script
                type="text/javascript"
                src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js"
                async
              >
                {
                    "colorTheme": "light",
                    "dateRange": "12M",
                    "showChart": false,
                    "locale": "en",
                    "width": "100%",

                    "largeChartUrl": "",
                    "isTransparent": false,
                    "showSymbolLogo": true,
                    "showFloatingTooltip": false,
                    "tabs": [{
                        "title": "Indices",
                        "symbols": [{
                            "s": "POLONIEX:NFTUSDT",
                            "d": "APE"
                        }],
                        "originalTitle": "Indices"
                    }]
                }
              </script>
            </div>
            <!-- TradingView Widget END -->
            <p></p>
            <p></p>
            <h4>Why invest in Real Estate with Assetsus LLC?</h4>
            <p>
              We are one of the biggest real estate investors in the world, and
              we own and manage famous assets in the most vibrant cities. The
              assets in our worldwide portfolio span five continents and include
              office, retail, multifamily, logistics, hotel, triple net lease,
              mobile homes, and student housing. Our objective is to produce
              consistent and escalating payouts for our investors while
              safeguarding them from adverse risk. Our investments are
              geographically and sectorially diversified, limiting volatility
              and exposure to changes in any one market. By utilizing our
              operating experience and concentrating on our core real estate
              competencies—leasing, financing, development, design and
              construction, and property and facilities management—we aim to
              produce higher returns in both our public and private investment
              vehicles.
            </p>
            <blockquote class="in-blockquote" cite="#">
              <p class="uk-margin-small-bottom">
                Our leaders share a commitment to our time-tested approach to
                investing, hands-on value creation and practices that have a
                positive impact on our communities.
              </p>
              <footer><cite>REAL ESTATE LEADERSHIP</cite></footer>
            </blockquote>
            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-2@m">
              <div>
                <ul class="uk-list uk-list-bullet in-list-check">
                  <h2 class="uk-margin-small-top uk-margin-remove-bottom">
                    HOSPITALITY
                  </h2>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    318 Properties
                  </h5>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    167M SF Commercial Space
                  </h5>
                  <p class="uk-margin-small-top">
                    We own, develop and manage office properties in key gateway
                    cities in the U.S., Canada, the U.K., Germany, Australia,
                    Brazil, India and South Korea.
                  </p>
                </ul>
              </div>
              <div
                class="in-margin-top-10@s in-margin-bottom@s uk-background-center-right uk-background-contain uk-background-image@m"
                style="background-image: url(img/hospital.jpg)"
              ></div>
            </div>

            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-2@m">
              <div>
                <ul class="uk-list uk-list-bullet in-list-check">
                  <h2 class="uk-margin-small-top uk-margin-remove-bottom">
                    RETAIL
                  </h2>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    179 LOCATIONS, PREDOMINANTLY IN THE U.S AND UK
                  </h5>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    154 MILLION TOTAL SQUARE FEET
                  </h5>
                  <p class="uk-margin-small-top">
                    Our high-quality retail destinations are central gathering
                    places for the communities they serve, combining shopping,
                    dining, entertainment and other activities.
                  </p>
                </ul>
              </div>
              <div
                class="in-margin-top-10@s in-margin-bottom@s uk-background-center-right uk-background-contain uk-background-image@m"
                style="background-image: url(img/retail.jpg)"
              ></div>
            </div>

            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-2@m">
              <div>
                <ul class="uk-list uk-list-bullet in-list-check">
                  <h2 class="uk-margin-small-top uk-margin-remove-bottom">
                    Multi Family
                  </h2>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    51,595 APARTMENTS
                  </h5>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    156 PROPERTIES
                  </h5>
                  <p class="uk-margin-small-top">
                    Our extensive multifamily portfolio makes us one of the
                    largest owners and managers of residential apartment
                    properties in the U.S. with ownership stakes in
                    approximately 58,000 apartments.
                  </p>
                </ul>
              </div>
              <div
                class="in-margin-top-10@s in-margin-bottom@s uk-background-center-right uk-background-contain uk-background-image@m"
                style="background-image: url(img/family.jpg)"
              ></div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
<!-- section content end -->

{% endblock content %}
