{% extends "layouts/home.html" %}
<!--  -->

<!--  -->
{% block content %}

<!-- section content begin -->
<div class="uk-section uk-margin-small-top">
  <div class="uk-container">
    <div class="uk-grid uk-flex uk-flex-center in-blog-1 in-article">
      <div class="uk-width-2-1@m">
        <br /><br />
        <article class="uk-card uk-card-default uk-border-rounded">
          <div class="uk-card-body">
            <div class="uk-flex">
              <div class="uk-flex uk-flex-middle">
                <p class="uk-text-small uk-text-muted uk-margin-remove">
                  <span class="uk-margin-small-left uk-margin-small-right"
                    >•</span
                  >
                  We engage, assist and partner entrepreneurs to develop Real
                  Estate assets
                  <span class="uk-margin-small-left uk-margin-small-right"
                    >•</span
                  >
                </p>
              </div>
            </div>
            <h2 class="uk-margin-top uk-margin-medium-bottom">
              RENEWABLE POWER
            </h2>
            <p>
              We are one of the world's largest investors in renewable power,
              with approximately 21,000 megawatts of generating capacity. Our
              assets, located in North and South America, Europe, India and
              China, comprise a diverse technology base of hydro, wind,
              utility-scale solar, distributed generation, storage and other
              renewable technologies. We utilize our fully integrated global
              operating platform and in-house expertise to maintain facilities,
              organically add value and efficiently integrate new assets,
              realizing cost synergies in the process. Our business is
              underpinned by stable cash flows, with the majority of our power
              contracted under long-term, inflation-linked contracts.
            </p>
            <p></p>

            <p></p>
            <p></p>
            <h4>RENEWABLE POWER LEADERSHIP</h4>
            <p>
              Our leaders share a commitment to our time-tested approach to
              investing, hands-on value creation and practices that have a
              positive impact on our communities.
            </p>
            <blockquote class="in-blockquote" cite="#">
              <p class="uk-margin-small-bottom">
                The acquisition of the TerraForm companies strengthened
                assetsus.com’s position as a global leader in renewable power,
                adding significant wind and solar assets as well as operating
                platforms in India and China.
              </p>
            </blockquote>
            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-2@m">
              <div>
                <ul class="uk-list uk-list-bullet in-list-check">
                  <h2 class="uk-margin-small-top uk-margin-remove-bottom">
                    HYDRO
                  </h2>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    8,000 MW HYDRO CAPACITY
                  </h5>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    222 HYDRO GENERATION FACILITIES
                  </h5>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    83 RIVER SYSTEMS
                  </h5>
                  <p class="uk-margin-small-top">
                    Our hydro power assets are characterized by a perpetual
                    asset life, high cash margins, and storage capacity.
                  </p>
                </ul>
              </div>
              <div
                class="in-margin-top-10@s in-margin-bottom@s uk-background-center-right uk-background-contain uk-background-image@m"
                style="background-image: url(/assets/img/hydro.jpg)"
              ></div>
            </div>

            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-2@m">
              <div>
                <ul class="uk-list uk-list-bullet in-list-check">
                  <h2 class="uk-margin-small-top uk-margin-remove-bottom">
                    WIND
                  </h2>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    2006 DEVELOPMENT OF FIRST WIND PROJECT
                  </h5>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    5,800 MW INSTALLED CAPACITY
                  </h5>
                  <p class="uk-margin-small-top">
                    Our growing wind portfolio is diversified across attractive
                    power markets in North America, South America, Europe and
                    Asia.
                  </p>
                </ul>
              </div>
              <div
                class="in-margin-top-10@s in-margin-bottom@s uk-background-center-right uk-background-contain uk-background-image@m"
                style="background-image: url(/assets/img/wind.jpg)"
              ></div>
            </div>

            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-2@m">
              <div>
                <ul class="uk-list uk-list-bullet in-list-check">
                  <h2 class="uk-margin-small-top uk-margin-remove-bottom">
                    SOLAR
                  </h2>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    156 INSTALLED CAPACITY
                  </h5>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    4 CONTINIENTS
                  </h5>
                  <p class="uk-margin-small-top">
                    One of the fastest-growing sources of renewable energy,
                    utility-scale solar offers high cash margins and diverse and
                    scalable applications.
                  </p>
                </ul>
              </div>
              <div
                class="in-margin-top-10@s in-margin-bottom@s uk-background-center-right uk-background-contain uk-background-image@m"
                style="background-image: url(/assets/img/solari.jpg)"
              ></div>
            </div>

            <div class="uk-grid uk-child-width-1-1 uk-child-width-1-2@m">
              <div>
                <ul class="uk-list uk-list-bullet in-list-check">
                  <h2 class="uk-margin-small-top uk-margin-remove-bottom">
                    DISTRIBUTED GENERATION
                  </h2>
                  <h5 class="uk-margin-small-top uk-margin-remove-bottom">
                    1,300 MW DISTRIBUTED GENERATION PORTFOLIO
                  </h5>

                  <p class="uk-margin-small-top">
                    Our commercial and industrial distributed-solar generation
                    portfolio offers consumers access to power at the point of
                    consumption.
                  </p>
                </ul>
              </div>
              <div
                class="in-margin-top-10@s in-margin-bottom@s uk-background-center-right uk-background-contain uk-background-image@m"
                style="background-image: url(/assets/img/distributed.jpg)"
              ></div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
