<footer
  class="footer bg_img"
  data-background="/assets/auth/images/frontend/footer/631ca001534431662820353.jpg"
>
  <div class="footer__top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <a href="/" class="site-logo"
            ><img src="/assets/auth/images/logoIcon/logo.png" alt="image"
          /></a>
          <ul
            class="footer-short-menu d-flex flex-wrap justify-content-center mt-3"
          >
            <li>
              <a href="/policies">Privacy Policy</a>
            </li>
            <li><a href="/terms">Terms</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-md-left text-center">
          <p class="copy-right-text">
            &copy; 2023
            <a href="/" class="text--base">Assets-Us Limited</a>. All Rights
            Reserved
          </p>
        </div>
        <div class="col-md-6">
          <ul
            class="social-link-list d-flex flex-wrap justify-content-md-end justify-content-center"
          ></ul>
        </div>
      </div>
    </div>
  </div>
</footer>
