{% extends "layouts/auth.html" %} {% load crispy_forms_tags %}
<!--  -->
{% block title %} log imto your account {%endblock title %}
<!--  -->
{% block style %}
<style>
  ul.alert.alert-danger {
    padding: 12px;
  }
</style>
{% endblock style %} {% block content %}

<div class="page-wrapper">
  <!-- header-section start  -->
  {% include "components/auth_header.html" %}
  <!-- header-section end  -->
  <section
    class="inner-hero bg_img"
    data-background="/assets/auth/images/frontend/breadcrumb/631d82f525a611662878453.jpg"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="page-title">Login</h2>
        </div>
      </div>
    </div>
  </section>
  <div class="section-wrapper">
    <!-- account section start -->
    <div
      class="account-section bg_img"
      data-background="/assets/auth/images/frontend/login/631ca0dc080a31662820572.jpg"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-7">
            <div class="account-card">
              <div
                class="account-card__header bg_img overlay--one"
                data-background="/assets/auth/images/frontend/login/631ca0dc2ed1a1662820572.jpg"
              >
                <h2 class="section-title">
                  Welcome To <span class="base--color">Assetsus</span>
                </h2>
                <p>Investing with financial thinking</p>
              </div>
              <div class="account-card__body">
                <form method="POST" action="" class="verify-gcaptcha">
                  {% if form.non_field_errors %}
                  <ul class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %} {% csrf_token %}
                  <div class="form-group">{{form.email|as_crispy_field}}</div>

                  <div class="form-group">
                    <div class="d-flex flex-wrap justify-content-between mb-2">
                      <label for="password" class="form-label mb-0"
                        >Password</label
                      >
                      <a class="fw-bold forgot-pass" href="/reset-password">
                        Forgot your password?
                      </a>
                    </div>
                    {{form.password|as_crispy_field}}
                  </div>

                  <!-- <div class="form-group">
                    {{form.captcha}} {% for error in form.captcha.errors %}
                    <p class="text-danger">{{error}}</p>
                    {% endfor %}
                  </div> -->

                  <div class="form-group">
                    <button
                      type="submit"
                      id="recaptcha"
                      class="btn--base w-100"
                    >
                      Login
                    </button>
                  </div>
                  <p class="mb-0">
                    Don't have any account? <a href="/register">Register</a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- account section end -->
  </div>

  <!-- footer-section start  -->
  {% include "components/auth_footer.html" %}
  <!-- footer-section end  -->
</div>

{% endblock content %} {% block script %} {% endblock script %}
