{% extends "layouts/auth.html" %} {% load crispy_forms_tags %}
<!--  -->
{% block title %} Investment {% endblock title %}
<!--  -->
{% block content %}
<div class="page-wrapper">
  <!-- header-section start  -->
  {% include "components/user_header.html" %}
  <!-- header-section end  -->
  <!-- breadcrum -->
  {% include "components/user_breadcrum.html" with name="Investments"%}
  <!-- breadcrum -->
  <div class="section-wrapper">
    <script>
      "use strict";

      function createCountDown(elementId, sec) {
        var tms = sec;
        var x = setInterval(function () {
          var distance = tms * 1000;
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor(
            (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
          );
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);
          document.getElementById(elementId).innerHTML =
            days + "d: " + hours + "h " + minutes + "m " + seconds + "s ";
          if (distance < 0) {
            clearInterval(x);
            document.getElementById(elementId).innerHTML = "COMPLETE";
          }
          tms--;
        }, 1000);
      }
    </script>

    <section class="pb-60 pt-60">
      <div class="container">
        <div class="row gy-4 mb-4">
          <div class="col-md-5">
            <div class="card h-100">
              <div class="card-body">
                <div
                  class="d-flex flex-wrap justify-content-between align-items-center"
                >
                  <div>
                    <p class="mb-2 fw-bold">Total Invest</p>
                    <h4 class="text--base">
                      <sup class="top-0 fw-light me-1">$</sup>0.00
                    </h4>
                  </div>
                  <div>
                    <p class="mb-2 fw-bold">Total Profit</p>
                    <h4 class="text--base">
                      <sup class="top-0 fw-light me-1">$</sup> 0
                    </h4>
                  </div>
                </div>
                <div
                  class="d-flex flex-wrap justify-content-between mt-3 mt-sm-4 gap-2"
                >
                  <a
                    href="https://app.assetsus.com/plan"
                    class="btn btn--sm btn--base"
                    >Invest Now <i class="las la-arrow-right fs--12px ms-1"></i
                  ></a>
                  <a
                    href="https://app.assetsus.com/user/withdraw"
                    class="btn btn--sm btn--base"
                    >Withdraw Now
                    <i class="las la-arrow-right fs--12px ms-1"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="text-center">No Investment Found Yet</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center mt-2">
          <div class="col-md-12">
            <div class="text-end mb-3">
              <a
                href="https://app.assetsus.com/user/invest/log"
                class="btn btn--base"
              >
                View All
              </a>
            </div>
          </div>
          <div class="col-md-12">
            <div class="table-responsive--md">
              <table class="table">
                <thead>
                  <tr>
                    <th>Plan</th>
                    <th>Return</th>
                    <th>Received</th>
                    <th>Next payment</th>
                    <th>Top Up</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="100%" class="text-center">Data not found</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- footer-section start  -->
  {% include "components/auth_footer.html" %}
  <!-- footer-section end  -->
</div>

{% endblock content %}
