{% extends "layouts/auth.html" %} {% load crispy_forms_tags %}
<!--  -->
{% load humanize %}
<!--  -->
{% block title %} Transactions {% endblock title %}
<!--  -->
{% block style %}
<style>
  .mbd {
    display: none;
  }
  .mdl {
    display: block;
  }
  @media (max-width: 767px) {
    .mbd {
      display: block;
    }
    .mdl {
      display: none;
    }
  }
</style>
{% endblock style %}
<!--  -->
{% block content %}
<div class="page-wrapper">
  <!-- header-section start  -->
  {% include "components/user_header.html" %}
  <!-- header-section end  -->
  <!-- breadcrum -->
  {% include "components/user_breadcrum.html" with name="logs"%}
  <!-- breadcrum -->

  <div class="section-wrapper">
    <div class="cmn-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="card custom--card">
              <div class="card-body p-0">
                <div class="table-responsive mbd">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Ref</th>

                        <th>Amount</th>

                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if transactions %} {% for obj in transactions %}
                      <tr>
                        <td>
                          <strong>{{obj.unique_u}}</strong>
                        </td>

                        <td class="budget">
                          <span class="fw-bold text--success">
                            ${{obj.amount|intcomma}}
                          </span>
                        </td>

                        <td class="mbd">
                          <a
                            href="javascript:void(0)"
                            data-bs-toggle="modal"
                            data-bs-target="#transactModal"
                            data-transaction='{"user":"{{obj.user.get_fullname}}","id":{{obj.id}},"ref":"{{obj.unique_u}}","type":"{{obj.trans_type}}","amount":"{{obj.amount}}", "method":"{{obj.method}}","date":"{{obj.date|date:"Y-M-D g:iA"}}","amountc":"{{obj.amount_in_coin}}","status":"{{obj.status}}"}'
                            class="btn--base btn-md mt-4 transactModal"
                            >Details</a
                          >
                        </td>
                      </tr>
                      {% endfor %} {% else %}

                      <tr>
                        <td colspan="100%" class="text-center">
                          Data not found
                        </td>
                      </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
                <div class="table-responsive mdl">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Ref</th>
                        <th>Type</th>
                        <th>Amount(USD)</th>
                        <th>Amount(Coin)</th>
                        <th>Method</th>
                        <th>Date</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if transactions %} {% for obj in transactions %}
                      <tr>
                        <td>
                          <strong>{{obj.unique_u}}</strong>
                        </td>

                        <td>{{obj.trans_type}}</td>

                        <td class="budget">
                          <span class="fw-bold text--success">
                            ${{obj.amount|intcomma}}
                          </span>
                        </td>

                        <td class="budget">
                          <span class="fw-bold text--success">
                            <code>{{obj.amount_in_coin}}</code>
                          </span>
                        </td>

                        <td class="budget">
                          {% if obj.method %} {{obj.method}} {% else %} by admin
                          {% endif %}
                        </td>

                        <td>
                          <span class="badge bg--info">{{obj.date}}</span>
                        </td>

                        <td>
                          {% if obj.status == "pending" %}
                          <span class="badge bg-warning">Pending</span>
                          {% elif obj.status == "declined" %}
                          <span class="badge bg-danger">Declined</span>
                          {% else %}

                          <span class="badge bg-success">Success</span>
                          {% endif %}
                        </td>
                      </tr>
                      {% endfor %} {% else %}

                      <tr>
                        <td colspan="100%" class="text-center">
                          Data not found
                        </td>
                      </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="transactModal">
    <div class="modal-dialog modal-dialog-centered modal-content-bg">
      <div class="modal-content">
        <div class="modal-header">
          <strong class="modal-title text-white" id="ModalLabel">
            Transaction detail <span class="planName"></span>
          </strong>
          <button type="button" class="close" data-bs-dismiss="modal">
            <i class="las la-times"></i>
          </button>
        </div>
        <!--  -->
        <div class="card" style="overflow: hidden">
          <table class="table">
            <tbody>
              <tr>
                <td>Ref</td>
                <td class="text-center">
                  <span id="t_user"></span>
                </td>
              </tr>
              <tr>
                <td>Type</td>
                <td class="text-center">
                  <span id="t_type"></span>
                </td>
              </tr>

              <tr>
                <td>Amount(USD)</td>
                <td class="text-center text-info">
                  $<span id="t_amount"></span>
                </td>
              </tr>
              <tr>
                <td>Amount(Coin)</td>
                <td class="text-center text-info">
                  <span id="t_amountc"></span>
                </td>
              </tr>

              <tr>
                <td>Method</td>
                <td class="text-center text-warning">
                  <span id="t_method"></span>
                </td>
              </tr>

              <tr>
                <td>Date</td>
                <td class="text-center">
                  <span id="t_date"></span>
                </td>
              </tr>

              <tr>
                <td>Status</td>
                <td class="text-center" id="td_status"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-success btn-md"
            data-bs-dismiss="modal"
          >
            Ok
          </button>
        </div>
        <!--  -->
      </div>
    </div>
  </div>
  <!-- footer-section start  -->
  {% include "components/auth_footer.html" %}
  <!-- footer-section end  -->
</div>

{% endblock content %} {% block script %}

<script>
  (function ($) {
    "use strict";
    $(".transactModal").click(function () {
      var symbol = "$";
      var currency = "USD";

      var modal = $("#transactModal");
      var plan = $(this).data("transaction");
      var td_status = $("#td_status");
      let text_color;
      if (plan.status == "pending") {
        text_color = "bg-warning";
      } else if (plan.status == "declined") {
        text_color = "bg-warning";
      } else {
        text_color = "bg-success";
      }

      document.getElementById("t_user").innerText = plan.ref;
      document.getElementById("t_type").innerText = plan.type;
      document.getElementById("t_amount").innerText = plan.amount;
      document.getElementById(
        "t_amountc"
      ).innerHTML = `<code>${plan.amountc}</code>${plan.method}`;

      document.getElementById("t_date").innerText = plan.date;
      document.getElementById(
        "td_status"
      ).innerHTML = `<span class="badge ${text_color}" id="t_status">${plan.status}</span>`;
      if (plan.method) {
        document.getElementById("t_method").innerText = plan.method;
      } else {
        document.getElementById("t_method").innerText = "by admin";
      }
    });
  })(jQuery);
</script>
{% endblock script %}
